<div class="section">
    <div class="container">
        <div class="columns">


            <%= render 'news' %>
            <%= render 'feed' %>
            <%= render 'popular' %>

        </div>
    </div>
</div>