<div class="section">
  <div class="container">
  <div class="column is-centered">
  <h1 class="title has-text-centered">New owl</h1>

<%= render "form", owl: @owl %>

<br>

<div>
  <%= link_to "Back to the Bookhouse", owls_path %>
</div>

</div>
</div>
</div>