
     <div class="section">
    <div class="container">
        <div class="columns">

        

            <%= render "member" %>
            <%= render "owls" %>
           

        </div>
    </div>
</div>

   
             
                    
               
        

       
        
       
